*.user
*.obj
*.log
/GxFramework/cocos2d-x/cocos/2d/Debug.win32
/GxFramework/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32
/GxFramework/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Debug.win32
/GxFramework/cocos2d-x/external/recast/proj.win32/Debug.win32
/GxFramework/cocos2d-x/tools/simulator/libsimulator/proj.win32/Debug.win32
/GxFramework/pbc/Debug.win32
/GxFramework/cocos2d-x/cocos/platform/android/libcocos2dx/build
/GxFramework/cocos2d-x/cocos/platform/android/libcocos2dx/libcocos2dx.iml
/Demo/src/gxframework
/Demo/frameworks/runtime-src/proj.win32/.vs
/Demo/frameworks/runtime-src/proj.win32/Debug.win32
/Demo/simulator
/Demo/androidBuild
/Demo/frameworks/runtime-src/proj.android/.idea
*.iml
/GxFramework/cocos2d-x/tools/simulator/runtime
